table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

td, th {
    border: 3px solid darkred;
    text-align: left;
    padding: 8px;
}

#info {
    font-size: smaller;
    color: red;
}

.admin {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 8px;
}